body {
    color: white;
    background-color: #203A43;
}

.card {
    color: black;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 1.5em;
}

h5 {
    padding: 3%;
}

.form-group input[type=button] {
    margin-top: 4%;
}

#tableWrapper::-webkit-scrollbar {
    background-color: white;
    width: 2%;
}

#tableWrapper {
    max-height: 30em;
    overflow-y: scroll;
    margin-bottom: 1%;
}

#sticky-footer {
    flex-shrink: none;
    clear: both;
}

#detailsCard {
    margin-bottom: 3%;
}

#searchingForm {
    margin-left: 1%
}

#f1img {
    height: 70%;
    width: 60%;
}

.navbar-brand {
    margin-right: 0px;
}

input[type=text]:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px #719ECE;
}
