@font-face {
    font-family: F1;
    src: url(Fonts/Formula1-Regular.ttf);
}

@font-face {
    font-family: F1-bold;
    src: url(Fonts/Formula1-Bold.ttf);
}

body {
    color: white;
    /*background-color: #203A43;*/
    background-color: #191919;
    font-family: F1;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .form-group label {
        font-size: smaller;
    }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .form-group label {
        font-size: x-small;
    }
}

.nav-link,th,.card-title {
    font-family: F1-bold;
}

.card {
    
    color: black;
    width: 75% !important;
}

.card-title {
    background-color: red;
    color: white;
    border: 3px solid white;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 1.5em;
}

h5 {
    padding: 3%;
}

#lstDetails li{
    background-color: lightgray;
}

.form-group input[type=button] {
    margin-top: 4%;
    border: 3px solid #808080;
    background-color: red !important;
}

#tableWrapper::-webkit-scrollbar {
    background-color: white;
    width: 2%;
}

#tableWrapper {
    max-height: 30em;
    overflow-y: scroll;
    margin-bottom: 1%;
}

#sticky-footer {
    flex-shrink: none;
    clear: both;
}

#detailsCard {
    margin-bottom: 3%;
}

#searchingForm {
    margin-left: 1%;
    margin-right: 1%
}

#f1img {
    height: 70%;
    width: 60%;
}

.navbar-brand {
    margin-right: 0px;
}

input[type=text]:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

td img {
    /*/width: 3.250em;
    height: 3.125em;*/
    max-width: 100%;
    max-height: 100%;
}

.td-img {
    width: 6%;
}