<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Formula One</title>
    <meta http-equiv="X-UA-Compatible" content="IE =edge">
    <meta name="viewport" content="width =device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="vue.js"></script>
    <script src="index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <div id="wrapper" class="container-fluid p-0">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand">FormulaOne</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="app" class="row">
            <div class="col-sm-12">
                <h2>Scegli l'elemento da visualizzare</h2>
                <input type="button" value="Teams"  class="btn btn-primary" />
                <input type="button" value="Countries" onclick="loadCountries();" class="btn btn-success" />
                <input type="button" value="Drivers" onclick="loadDrivers();" class="btn btn-warning" style="color:white" />
                <table v-if="teams.length > 0" id="teamsTable" class="table table-dark">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>FullTeamName</th>
                            <th>Country</th>
                            <th>Power unit</th>
                            <th>Technical chief</th>
                            <th>Chassis</th>
                            <th>First driver</th>
                            <th>Second driver</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in teams">
                            <td>{{item.ID}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.FullTeamName}}</td>
                            <td>{{item.Country.CountryName}}</td>
                            <td>{{item.PowerUnit}}</td>
                            <td>{{item.TechnicalChief}}</td>
                            <td>{{item.Chassis}}</td>
                            <td>{{item.FirstDriver.Firstname}} {{item.FirstDriver.Lastname}}</td>
                            <td>{{item.SecondDriver.Firstname}} {{item.SecondDriver.Lastname}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table is-fullwidth is-hoverable table table-dark" v-if="drivers.length > 0" id="driversTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>DOB</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in drivers">
                            <td>{{item.ID}}</td>
                            <td>{{item.Firstname}}</td>
                            <td>{{item.Lastname}}</td>
                            <td>{{new Date(item.dob)}}</td>
                            <td>{{item.Country.CountryName}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table is-fullwidth is-hoverable table table-dark" v-if="countries.length > 0" id="countryTable">
                    <thead>
                        <tr>
                            <th>Cod</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in countries">
                            <td>{{item.CountryCode}}</td>
                            <td>{{item.CountryName}}</td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="txtIdTeam">Search Team by ID</label>
                    <input type="text" class="form-control" id="txtIdTeam">
                    <input type="button" class="btn btn-primary" id="btnSearchTeamId" value="Search"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="txtIdDriver">Search Driver by ID</label>
                    <input type="text" class="form-control" id="txtIdDriver">
                    <input type="button" class="btn btn-primary" id="btnSearchDriverId" value="Search" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="txtCodeCountry">Search Country by Code</label>
                    <input type="text" class="form-control" id="txtCodeCountry">
                    <input type="button" class="btn btn-primary" id="btnSearchCountryCode" value="Search" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <ul id="lstTeams" class="list-group list-group-flush">
                        <!--<li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>-->
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <ul id="lstDrivers" class="list-group list-group-flush">

                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <ul id="lstCountries" class="list-group list-group-flush">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>